.home-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(255, 193, 7, 0.3)),
    url('https://images.unsplash.com/photo-1541099649105-f69ad21f3246?auto=format&fit=crop&w=1400&q=80');
  background-size: cover;
  background-position: center;
  color: white;

  
}
